body {
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.card {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    color: #d4afcd;
    background: #2e6171;
    border-bottom: 6px solid #b79fad;
    font-size: 20px;
}

.card-text {
    padding-top: 75px;
}

img {
    height: 300px;
}

.avatar {
    width: 150px;
}
